.project-tile-cont {
  background: linear-gradient(rgba(53, 1, 138, 0.568), rgba(0, 47, 53, 0.534));
  /* border: 3px solid rgba(64, 253, 216, 0.657); */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  
}

.project-image{
  height: 250px;
  width: 100%;
  overflow: hidden;
  transition: .5s ease;
  opacity: 1;
  /* backface-visibility: hidden; */
}

.project-image-side{
  height: 130px;
  width: 100%;
  overflow: hidden;
  transition: .5s ease;
  opacity: 1;
}

.project-overlay {
  opacity: 0;
  transition-duration: 600ms;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  background: linear-gradient(rgba(83, 48, 139, 0.568), rgba(24, 64, 70, 0.534));
  font-size: 23px;
  font-weight: 900;
}



.project-overlay-side {
  opacity: 0;
  z-index: 10;
  transition-duration: 600ms;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(83, 48, 139, 0.968), rgba(24, 64, 70, 0.934));
  color: white;
  /* background-color: rgba(0, 0, 0, 0.733); */
  border: 1px solid white;
  font-weight: 900;
  font-size: 15px;
}


.learn-button {
  border: 1px solid rgba(255, 255, 255, 0.548);
  background-color: transparent;
  font-size: 18px;
  font-weight: 100;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.learn-button:hover {
  border: 1px solid goldenrod;
  color: goldenrod;
  font-weight: 900; 
}

.project-tile-cont:hover .project-overlay, .project-tile-cont:hover .project-overlay-side{
  opacity: 1;
}

.project-tile-cont:hover .project-image{
  opacity: .1;
}

.project-overlay-info {
  width: 100%;
}

 h4 {
  font-size: 30px;
  text-decoration: none;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 70%;
  margin: 20px 0 25px 0;
  cursor: pointer;
}

h4:hover {
  color: #949209;
  background: -webkit-linear-gradient(white, #6e6d04);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 1000px) {
  .project-tile-cont {
    height: 400px;
  }
  .project-overlay {
    height: 328px;
  }
  h4{
    font-size: 23px;
  }
}