.about-container {
  height: 90vh;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.about-paragraph {
  text-align:left;
  /* display: flex; */
  font-size: 25px;
  line-height: 35px;
  width: 65%;
}

.me-div {
  height: 400px;
  width: 400px;
  margin-left: 5rem;
}

.me-div img {
  height: 100%;
  width: 100%;
  /* margin-left: 100px; */
  object-fit: contain;
  /* border-radius: 50%; */
}

.about-paragraph span {
  color: rgba(255, 217, 0, 0.801);
  font-weight: 1000;
}

