.blurb{
  height: 100%;
  width: 70%;
  text-align: left;
  display: flex;
  flex-direction: row;
  margin: 0 0 150px 0;

}

.blurb-p {
  width: 80%;
}

.blurb-img {
  height: 250px;
  width: auto;
  border-radius: 50%;
}

@media screen and (max-width: 900px) {
  .blurb {
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    margin: 0;
  }
  .blurb-img {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
  }
  .blurb-p {
    margin-bottom: 80px;
    font-size: 22px;
  }
}     

@media screen and (max-width:670px) {
  .blurb{
    width: 95%;
  }
}


@media screen and (max-width: 550px) {
  .blurb-p {
    font-size: 20px;
  }
  .blurb-img {
    width: 250px;
    height: 250px;
  }
}
