.blurb{
  height: 100%;
  width: 70%;
  text-align: left;
  display: flex;
  flex-direction: row;
  margin: 0 0 50px 0;

}

.blurb-p {
  width: 80%;
}

img {
  height: 250px;
  width: auto;
  border-radius: 50%;
}