.footer {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.footer-h3 {
  font-size: 80px;
  color: rgba(255, 245, 238, 0.842);
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contacts-cont {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.contact {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
  /* color: rgba(255, 245, 238, 0.774); */
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, white, gray);
}
