.footer {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts-cont a {
  text-decoration: none;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, white, gray);
  background-image: -webkit-linear-gradient(to bottom, white, gray);
  background-image: -moz-linear-gradient(to bottom, white, gray);
  background-image: -o-linear-gradient(to bottom, white, gray);
  background-image: -ms-linear-gradient(to bottom, white, gray);
}

.footer-h3 {
  font-size: 80px;
  color: rgba(255, 245, 238, 0.842);
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contacts-cont {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.contact {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
  /* color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, white, gray); */
}

@media screen and (max-width: 600px) {
  .footer{
    height: 30vh;
  }
  .footer-h3{ 
    font-size: 40px; 
    width: 90%;
  }
  .contacts-cont {
    height: 200px;
    width: 95%;
    justify-items: space-between ;

  }
  .contact {
    font-size: 20px;
  }
}

@media screen and (max-width: 380px) {
  .contacts-cont{
    /* height: 300px; */
    padding-bottom: 25px;
  }
}