.footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: ;
  justify-content: space-between;
  background-color: transparent;
  margin-bottom: 10px;
  border-top: 1px solid rgba(192, 180, 109, 0.113);
}

.footer-design {
  font-size: 20px;
  margin-left: 50px;
}

.contacts-cont {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.contacts-cont a {
  text-decoration: none;
  color: lightgray;
  background-clip: text;
  background-image: linear-gradient(to bottom, white, gray);
  background-image: -webkit-linear-gradient(to bottom, white, gray);
  background-image: -moz-linear-gradient(to bottom, white, gray);
  background-image: -o-linear-gradient(to bottom, white, gray);
  background-image: -ms-linear-gradient(to bottom, white, gray);
}

.contact {
  text-align: center;
  text-decoration: none;
  /* color: white; */
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
  /* color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, white, gray); */
}


.footer-span {
  margin-left: 10px;
}

@media screen and (max-width: 1000px) {
  .footer-h3 {
    font-size: 60px;
  }
}


@media screen and (max-width: 800px) {
  .footer {
    height: 30vh;
  }
  .contacts-cont{
    height: 100px;
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .gradient-svg {
    margin: 0;
  }

  .footer-h3{ 
    font-size: 40px; 
    width: 90%;
  }
  .contacts-cont {
    height: 150px;
    width: 95%;
    justify-items: space-between ;
  }

  .footer-span {
    display: none;
  }

  .contact {
    font-size: 33px;
  }
}