.graph-cont {
  width: 80%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.graph-title {
  color: seashell;
  font-size: 35px;
  margin-bottom: 80px;
  background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bar {
  fill: #949209;
  background-color: transparent;
}