nav{
  height: 80px;
  width: 90%;
  position: fixed;
  top: 0;
  margin-top: 30px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 22px;
  text-transform: uppercase;
}

.menu-item {
  text-decoration: none;
  background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

.menu-div {
  display: flex;
  flex-direction: row;
  max-width: 500px;
}

.lb-logo {
  font-size: 28px;
}

.menu-dd {
  display: flex;
  flex-direction: row;
  /* width: 300px; */
  color: gray;
}

.navLink {
  padding-right: 3rem;
}

#x {
  font-weight: 900;
  margin-top: 0;
  cursor: pointer;
}

.ellipsis {
  font-size: 25px;
  cursor: pointer;
}

.menu-item:hover, .lb-logo:hover {
  color: #949209;
  background: -webkit-linear-gradient(white, #6e6d04);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ellipsis:hover {
  animation: jiggle .3s ease-in-out ;
  transform: scale(1.08);
}

@-webkit-keyframes jiggle {
  0%{
    transform: translateY(2px);
    transform: scale(1.08);
  }
  50%{
    transform: translateY(-1px);
    transform: scale(1.2);
  }
  100%{transform: translateY(0px)}
}

.ellipsis:hover #blue-gradient stop {
  color: rgb(233, 2, 2);

}


@media screen and (max-width: 800px) {
  /* .nav-items{ 
    /* width: 50%;  
  } */
  .menu-dd {
    flex-direction: column-reverse;
    height: 200px;
    transition: height 1s ease-in;
    -webkit-trasition: height 1s ease-in;
  }
  .navLink{
    padding:0;
    justify-self: end;
    text-align: right;
  }
  #x {
    margin: 0;
    text-align: right;
  }
}