nav{
  height: 80px;
  width: 90%;
  position: fixed;
  top: 0;
  /* margin-top: 30px; */
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 22px;
  text-transform: uppercase;
}

.menu-item {
  text-decoration: none;
  background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

.menu-div {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  max-width: 500px;
  font-size: 25px;
}

.lb-logo {
  font-size: 28px;
}

.menu-dd {
  display: flex;
  flex-direction: row;
  color: gray;
  align-items: center;
}

.navLink {
  padding-right: 3rem;
}

#x {
  font-weight: 900;
  cursor: pointer;
}

.ellipsis {
  font-size: 25px;
  cursor: pointer;
}

.menu-item:hover, .lb-logo:hover {
  color: #949209;
  background: -webkit-linear-gradient(white, #6e6d04);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ellipsis:hover {
  animation: jiggle .3s ease-in-out ;
  transform: scale(1.08);
}

@-webkit-keyframes jiggle {
  0%{
    transform: translateY(2px);
    transform: scale(1.08);
  }
  50%{
    transform: translateY(-1px);
    transform: scale(1.2);
  }
  100%{transform: translateY(0px)}
}

.ellipsis:hover #blue-gradient stop {
  color: rgb(233, 2, 2);

}


@media screen and (max-width: 800px) {
  nav { 
    width: 100%;
    height: 55px;
    margin-top: 5px;
  }
  /* .nav-items{ 
    /* width: 50%;  
  } */
  .menu-div {
    align-items: unset;
  }
  .lb-logo {
    margin-left: 20px;
  }
  #menu-div {
    margin-right: 20px;
  }
  .menu-dd {
    flex-direction: column-reverse;
    height: 80px;
    transition: height 1s ease-in;
    -webkit-trasition: height .5s ease-in;
    /* maybe add opacity to .01 sec ease in to make the items "appear" to drop down */
    align-items: flex-end;
    margin-top: 65px;
    margin-right: 3px;
  }
  .navLink{
    padding:0;
    justify-self: end;
    text-align: right;
    background: rgba(0, 0, 0, 0.95);
  }
  #x {
    margin: 0;
    text-align: right;
  }
  nav.active {
    background-color: rgba(0, 0, 0, 0.95);
  }
  .link-active {
    background-color: red;
  }
}