nav {
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  /* margin-top: 30px; */
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 3px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.896);
  z-index: 5;
}

.menu-div {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  max-width: 650px;
}

.dd-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 00px;
  /* animation: rotateZ 300ms ease-in-out ; */
  animation: growDown 330ms ease-in-out ;
  transform-origin: right ;
  transition: animation 0s 500ms, opacity 300ms linear;
}


.menu-item {
  color: white;
  font-weight: 500;
  margin-right: 3rem;
  
}

.active {
  color: gold;
  border-bottom: 1px solid gold;
}

.lb-logo {
  margin-left: 50px;
  font-size: 25px;
  font-weight: 800;
  color: rgba(255, 217, 0, 0.728);
}

.hidden {
  visibility: hidden;
  display: none;
  opacity: 0;
  transition: display 0s 500ms, opacity 500ms linear;
}

@keyframes growDown {
  0% {
      transform: scaleX(0)
  }
  80% {
      transform: scaleX(1.005)
  }
  100% {
    transform: scaleX(1)
  }
}

.dd-btn {
  display: none;
  font-size: 30px;
  cursor: pointer;
  opacity: 1;
  margin-right: 2rem;
  /* transition: opacity 2s linear; */
  animation: rotateZ 400ms ease-in-out ;
  color: goldenrod;
}

.menu-item:hover, .lb-logo:hover {
  color: gold;
}

.dd-btn:hover {
  animation: jiggle .3s ease-in-out ;
  transform: scale(1.08);
  color: gold;
}

@-webkit-keyframes jiggle {
  0%{
    transform: translateY(2px);
    transform: scale(1.08);
  }
  50%{
    transform: translateY(-1px);
    transform: scale(1.2);
  }
  100%{transform: translateY(0px)}
}

.ellipsis:hover #blue-gradient stop {
    color: rgb(233, 2, 2);

}

@media screen and (max-width: 808px) {
  nav {
    background-color: black;
  }
  .menu-div {
    /* display: none; */
    flex-direction: column;
    width: 100%;
    margin-top: 20rem;
    align-items: unset;
    background-color: black;
    padding: 10px 0;
    /* border-bottom: 1px solid gray; */
    box-shadow: 0px 0px 1px 
  }
  .menu-item {
    /* width: 100%; */
    height: 2rem;
    border: none;
  }
  .dd-btn {
    display: block;
  }
  .menu-item {
    margin: 1rem 0;
  }
  .lb-logo {
    margin-left: 20px;
  }

  @keyframes growDownMobile {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.005)
    }
    100% {
        transform: scaleY(1)
    }
  }

}

