.portfolio-cont {
  position: relative;
  margin-top: 100px;
  height: 100%;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 2rem;
}

.portfolio-title {
  font-size: 45px;
    /* background: -webkit-linear-gradient(white, rgb(250, 231, 218));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 4rem; */
  color: white;
}

.under-construction {
  font-size: 20px;
  padding-bottom: 40px;
  color: rgb(255, 196, 2);
}

.projects-grid {
  display: grid;
  width: 70%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  /* grid-template-rows: 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr)); */
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 5rem;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 6rem; */
}

/* @media screen and (max-width: 1000) */

@media screen and (max-width: 1300px) {
  .projects-grid {
    width: 50%;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .projects-grid {
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

