.projects-cont {
  width: 80%;
  margin-top: 10rem;
  text-align: left;
}

.project-title {
  font-size: 40px;
  margin-left: 1rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  /* margin-bottom: 8rem; */
  padding-bottom: 8rem;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.788); */
}

.project-inner-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* width: 100%; */
}

.project-description {
  padding: 30px;
  width: 35%;
  font-size: 20px;
}

a {
  color: gold;
  text-decoration: none;
  cursor: pointer;
}

.project-media-cont {
  padding-top: 33px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.carousel {
  margin-bottom: 5rem;
}



@media screen and (max-width: 1950px ) {
  .project-media-cont {
    width: 40%;
  }

  .carousel {
    margin-bottom: 5rem;
  }
}


@media screen and (max-width: 1150px) {

  .project-title {
    text-align: center;
    margin: 0;
  }

  .project-inner-cont {
    flex-direction: column;
    align-items: center;
  }

  .project-media-cont, .project-description {
    width: 80%;
  }

  .project-description {
    margin-bottom: 1rem;
  }
} 

@media screen and (max-width: 800px) {
  .projects-cont{
    width: 90%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .project-media-cont, .project-description {
    width: 97%;
  }

  .projects-cont{
    width: 93%;
    margin-bottom: 30px;
  }

  .project-description {
    padding: 0;
    margin-bottom: 3rem;
  }

  .carousel {
    margin-bottom: 3rem;
  }
}
 


