.resume-cont {
  height: 150vh;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 0rem;
  position: relative;
}

.resume-div {
  margin-top: 0rem;
  /* padding-top: 2rem; */
  height: 100%;
  width: 90%;
  /* background-color: red; */
  /* background-image: url(/public/imgs/resume-blue.PNG); */
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-title {
  font-size: 40px;
  margin-bottom: 5rem;
  background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
