@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Fredoka+One&family=Fuzzy+Bubbles&family=Genos:wght@500&family=Krona+One&family=Merriweather+Sans:wght@300&family=Montserrat:wght@100&family=Press+Start+2P&family=Roboto:wght@300&family=Tajawal:wght@200&family=Titillium+Web:wght@300&display=swap');

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  margin: 0;
  /* padding-top: 65px; */
}

::-webkit-scrollbar {
  width: 5px;
} 

::-webkit-scrollbar-track {
  background: #6c6c5c7b;
}

::-webkit-scrollbar-thumb {
  background: rgba(235, 210, 70, 0.548);
}  

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: white; 
  scroll-behavior: smooth;
}

p {
  font-size: 25px;
}