@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Fredoka+One&family=Fuzzy+Bubbles&family=Genos:wght@500&family=Krona+One&family=Merriweather+Sans:wght@300&family=Montserrat:wght@100&family=Press+Start+2P&family=Roboto:wght@300&family=Tajawal:wght@200&family=Titillium+Web:wght@300&display=swap');

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  scrollbar-width: 3px;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
}


/* ::-webkit-scrollbar-track {
  background: #3900a3;
}

::-webkit-scrollbar-thumb {
  background: rgba(161, 143, 172, 0.562);
}  */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(
    200deg, rgba(0, 0, 0, 0.904), rgb(14, 7, 7)
  ); */
  background-color: black;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: seashell; 
  scroll-behavior: smooth;
  scrollbar-width: 3px;
  
}